<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.magnus.mapper.PaymentMapper">
    <insert id="insertPayment" parameterType="magnus.distributed.entity.Payment" useGeneratedKeys="true">
        insert into managee_payment(serial_no) values(#{serialNo});
    </insert>

    <resultMap id="paymentById" type="magnus.distributed.entity.Payment">
        <result column="id" javaType="java.lang.Long" property="id"></result>
        <result column="serial_no" javaType="java.lang.String" property="serialNo"></result>
    </resultMap>
    <select id="selectPaymentById" resultMap="paymentById">
        select * from managee_payment where id=#{id};
    </select>
</mapper>